@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  padding-bottom: 100px;
}

.banner {
  background-image: url('https://source.unsplash.com/random/1000x500');
  width: 100%;
  background-size: cover;
  height: 60vh;
  color: white;
  text-align: left;
  margin: 0 auto;
}

.banner h1{
  margin: 0 auto;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}


.banner h2{
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

.text-container{
  padding: 160px 200px;

}

.container {
  padding-top: 30px;
  margin: 0 auto;
  width: 60%;
  font-size: 24px;
  font-family: 'Lora';
  font-weight: 300;
}

.container h3 {
  font-size: 32px;
  color: rgb(133, 130, 130);
  font-family: 'Montserrat';
}

a {
  background-color: rgba(149, 229, 149, 0.2);
  text-decoration: none;
  font-family: 'Lora';
  color: rgba(85, 85, 85, 0.877);
  font-style: italic;
}

a:hover{
  background-color: rgba(149, 229, 149, 1);
}


@media(max-width: 992px) {
  .container {
    max-width: 100%;
    font-size: 18px;
    padding: 0px;
  }

  .banner {
    max-width: 100%;
    font-size: 18px;
    text-align: center;
    height: 25vh;
  }

  .text-container{
    padding: 50px 0px 50px 0px;
    margin: 0 auto;
  }

  .banner h1{
    font-size: 28px;
    padding-bottom: 10px;
  }

  .banner h2 {
    font-size: 14px;
    width: 50%;
  }
}
